<link rel="stylesheet" type="text/css" href="css/header.css"/>
<header id="tophead">
	<nav>
		<ul class="nav">
			<li><a href="#/index">首页</a></li>
			<li><a href="#" class="currentA">阳光私募</a></li>
			<li><a href="#">私募股权</a></li>
			<li><a href="#/trust/home">信托资管</a></li>
			<li><a href="#">金融资讯</a></li>
			<li><a href="#/about" ui-sref="about">关于天玑</a></li>
		</ul>
		<ul class="nav-right">
			<li class="login_wrap"><a href="#">登录</a><a href="#">注册</a></li>
			<li>
				<a class="iconfont" href="#">&#xe93a;</a>
				<a class="iconfont" href="#">&#xe93b;</a>
				<a style="font-size: 18px;" class="iconfont" href="#">&#xe92a;</a>
				<a class="iconfont" href="#">&#xe939;</a>
			</li>
			<li>0755-83695501</li>
		</ul>
	</nav>
</header>
<header id="head2" ng-hide="headFixed">
	<nav>
		<div class="logo" ui-sref="index"><img src="img/header/logo.png"></div>
		<ul class="nav">
			<li><a href="../index.html">首页</a></li>
			<li><a href="#"  class="currentFixedA">阳光私募</a></li>
			<li><a href="#">私募股权</a></li>
			<li><a href="#">信托资管</a></li>
			<li><a href="#">金融资讯</a></li>
			<li><a href="#/about" ui-sref="about">关于天玑</a></li>
		</ul>
		<ul class="nav-right">
			<li>
				<a class="iconfont" href="#">&#xe93a;</a>
				<a class="iconfont" href="#">&#xe93b;</a>
				<a style="font-size: 18px;" class="iconfont" href="#">&#xe92a;</a>
				<a class="iconfont" href="#">&#xe939;</a>
			</li>
			<li class="login_wrap"><a href="#">登录</a><a href="#">注册</a></li>
			<li>0755-83695501</li>
		</ul>
	</nav>
</header>
<header id="head">
	<div>
		<div class="logo" ui-sref="index"></div>
		<span>信托资管</span>
		<ul class="nav-right">
			<li class="active"><a href="#/sun/home" ui-sref="sun.home">信托首页</a></li>
			<li><a ui-sref="sun.product" href="#/sun/product">信托产品</a></li>
			<li><a ui-sref="sun.company" href="#/sun/company">信托公司</a></li>
		</ul>
	</div>
</header>
