<script type="text/javascript">
	$(document).ready(function(){
		$("body").scrollTop(0);
	});
</script>
<script type="text/javascript" src="module/controller/about.js" ></script>	
<div id="homeHeader2">
	<div class="header">
		<div  class="logo" ui-sref="index"></div>
		<ul class="nav nav-pills" role="tablist">
		  <li role="presentation"><a href="#/index" ui-sref="index">首页</a></li><!--color:#e4883d;-->
		  <li role="presentation"><a href="#/sun/home" ui-sref="sun.home">阳光私募</a></li>
		  <li role="presentation"><a href="#/private/home" ui-sref="private.home">私募股权</a></li>
		  <li role="presentation"><a href="#/trust/home" ui-sref="trust.home">信托资管</a></li>
		  <li role="presentation"><a href="#/news/home" ui-sref="news.home">金融资讯</a></li>
		  <li role="presentation"><a href="#/about" class="currentA"  ui-sref="about" >关于天玑</a></li>
		  <li role="presentation" style="color:#c1bebb;">天玑俱乐部</li>
		  <li role="presentation" style="color:#c1bebb;">天玑商学院</li>
		</ul>
		<div class="login">
			<div class="unloginBtn">
				<a href="javascript:void:();" ng-click="loginTab()">登录</a>
				<a href="javascript:void:();" ng-click="registerTab()">注册</a>
			</div>
			<div class="logined_wrap">
				<div class="userWP">
					<span class="round"><img src="img/userDefaultAvatar.png"></span>
					<span>{{userName}}</span>
					<span class="triangle"></span>
				</div>
				<div class="dropBox">
					<ul>
						<li class="ToforgetPwd">修改密码</li>
						<li class="logout" ng-click="loginOutBtn()">退出登录</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="head2" class="hide">
	<nav>
		<div class="logo" ui-sref="index"><img src="img/header/logo.png"></div>
		<ul class="nav">
			<li><a href="#/index" ui-sref="index">首页</a></li>
			<li><a href="#/sun/home" ui-sref="sun.home">阳光私募</a></li>
			<li><a href="#/private/home" ui-sref="private.home">私募股权</a></li>
			<li><a href="#/trust/home" ui-sref="trust.home">信托资管</a></li>
			<li><a href="#/news/home" ui-sref="news.home">金融资讯</a></li>
			<li><a href="#/about" ui-sref="about"  class="currentFixedA">关于天玑</a></li>
		</ul>
		<ul class="nav-right">
			<li>
				<a class="iconfont" href="#">&#xe93a;</a>
				<a class="iconfont" href="#">&#xe93b;</a>
				<a style="font-size: 18px;" class="iconfont" href="#">&#xe92a;</a>
				<a class="iconfont" href="#">&#xe939;</a>
			</li>
			<li class="login_wrap"><a href="javascript:void();" ng-click="loginTab()">登录</a><a href="javascript:void();" ng-click="registerTab()">注册</a></li>
			<li>0755-83695501</li>
		</ul>
	</nav>
</div>
<div class="mainAbout">
	<div class="about">
		<div class="headline">
			<ul>
				<li class="headline1"><a href="#/about" ui-sref="about">关于天玑</a></li>
			
				<li class="headline1"><a href="#/contact" ui-sref="contact">联系我们</a></li>
			
				<li class="headline1"><a href="#/join" ui-sref="join">加入我们</a></li>
			
				<li class="headline1"><a href="#/media" ui-sref="media">媒体报道</a></li>
			
				<li class="active headline1"><a href="#/declaraction" ui-sref="declaraction">免责声明</a></li>
			</ul>	
		</div>
		<div class="cantian">
            <div class="disclaimer">
                <h3><span class="horizon-3px">免责声明</span></h3>
                    <p class="disclaimerP1">天玑金服(包括官方网站及移动平台等)所发布的产品和研究资料<span>仅供参考</span>，我们会对网站所转载/发表的相关资料进行严谨审核，但并不对其准确性作出保证。天玑金服<span>不对数据的错误或遗漏承担责任。</span></p>
                    <p class="disclaimerP1"><span>投资有风险，理财需谨慎。</span>一般收益越高，风险越大，所以请您确保在本网站上投资的资金是个人可投资部分资金。天玑金服理财师将会为您提供客观的资讯和合理的资产配置建议，但是还是要投资者自己做出最终决策！天玑金服不对投资风险承担责任。</p>
            </div>
	   </div>
		
		
	</div>
</div>

<footer ng-include="'module/template/footer.html'"></footer>