		<link rel="stylesheet" type="text/css" href="module/views/comprehensivePage/css/default.css"/>
		<link rel="stylesheet" type="text/css" href="module/views/comprehensivePage/css/swiper.min.css"/>
		<script type="text/javascript" src="module/views/comprehensivePage/js/jquery-1.8.3.min.js" ></script>
		<script type="text/javascript" src="module/views/comprehensivePage/js/swiper-3.3.1.min.js" ></script>
		<script type="text/javascript" src="module/views/comprehensivePage/js/swiper.min.js" ></script>
		<script type="text/javascript" src="module/views/comprehensivePage/js/defaul.js" ></script>
		<script type="text/javascript">
			document.title="天玑金服-一个推荐靠谱私募的平台";
//			$("meta[name='keywords']").contents()="天玑、天玑金服、投资理财、私募、阳光私募、私募股权、信托资管、资产配置";
//			document.getElementsByName("Keywords").content="天玑、天玑金服、投资理财、私募、阳光私募、私募股权、信托资管、资产配置";
			$(document).ready(function(){
				$("body").scrollTop(0);
			});
		</script>
		<div class="bodyt">
			<div class="w1000-wrap">
				<ul class="text-center">
					<li class="text-left">
						<div class="roundIcon">稳</div>
						<div class="attchR">
							<div class="fs20">知名上市公司注资打造</div>
							<div class="fs18">稳健安全的资产配置平台</div>
						</div>
					</li>
					<li>
						<div class="roundIcon">精</div>
						<div class="attchR">
							<div class="fs20">多方位考核与严谨甄选</div>
							<div class="fs18">百里挑一，推荐可靠私募</div>
						</div>
					</li>
					<li class="text-right">
						<div class="roundIcon">专</div>
						<div class="attchR">
							<div class="fs20">一站式专属理财服务</div>
							<div class="fs18">助你规避风险，获取收益</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="bodyb">
			<div class="sunpan">
				<h4 title="bamboo plate"><img src="module/views/comprehensivePage/img/luodi/orange.jpg" alt="sunpan"/>天玑精选产品任您挑——我们诚心推荐，您的致富选择</h4>
				
				<div class="sunpan1 sunpanr">
					<a href="#/pe/zt-1" ui-sref="specialSubject.zhonghuizhifu">
						<img src="module/views/comprehensivePage/img/luodi/zhonghui.jpg" alt="天玑财富中汇支付股权投资基金" title="天玑财富中汇支付股权投资基金"/>
					</a>
					<div class="sunpan1r">
						<p class="sunpan1-title" title="天玑财富中汇支付股权投资基金">
							<a href="#/pe/zt-1" ui-sref="specialSubject.zhonghuizhifu">
							天玑财富中汇支付股权投资基金
							</a>
						</p>
						<div class="data">
							<span class="dataSpan3">投资方向：<span>第三方支付</span></span>
							<span class="dataSpan4">存续期限：<span>1+1年</span></span>
						</div>
						<p class="description1">高增长朝阳产业，行业第一梯队，估值潜力巨大</p>
						<a ng-click="reservationTab('pe_1','1')" class="sbBtn">点击咨询</a>
					</div>
					
				</div>
				<div class="sunpan1">
					<a href="#/trust/zt-1" ui-sref="specialSubject.jungong">
						<img src="module/views/comprehensivePage/img/luodi/jungongcailiao.jpg" alt="天玑财富军工新材料建设投资基金（二期）" title="天玑财富军工新材料建设投资基金（二期）"/>
					</a>
					<div class="sunpan1r">
						<p class="sunpan1-title" title="天玑财富军工新材料建设投资基金（二期）">
							<a href="#/trust/zt-1" ui-sref="specialSubject.jungong">
								天玑财富军工新材料建设投资基金（二期）
							</a>
						</p>
						<div class="overH">
							<span class="dataSpan3">投资起点：<span>100万</span></span>
							<span class="dataSpan4">存续期限：<span>6个月</span></span>
						</div>
						<p class="income"><span>收益：</span><span class="hard">9%~10.8%</span></p>
						<p class="description">半年灵活期限，兼得收益与流动性，双倍担保，强劲的还款能力</p>
						<a ng-click="reservationTab('trust_1','3')" class="sbBtn">点击咨询</a>
					</div>
					
				</div>
				<div class="sunpan1 sunpanr">
					<a href="#/pe/zt-2" ui-sref="specialSubject.chuangmengtiandi">
						<img src="module/views/comprehensivePage/img/luodi/chuangmeng.jpg" alt="天玑财富创梦优选独角兽1期" title="天玑财富创梦优选独角兽1期"/>
					</a>
					<div class="sunpan1r">
						<p class="sunpan1-title" title="天玑财富创梦优选独角兽1期">
							<a href="#/pe/zt-2" ui-sref="specialSubject.chuangmengtiandi">
							天玑财富创梦优选独角兽1期
							</a>
						</p>
						<p class="director"><span>基金经理：</span>深圳前海天玑财富管理有限公司</p>
						<div class="data">
							<span class="dataSpan1">存续期限：<span>3+2+2年</span></span>
							<span class="dataSpan2">投资方向：<span>文化娱乐</span></span>
						</div>
						<p class="description">主投万达系+腾讯系+starvc系独角兽企业，保守估计IRR25%</p>
						<a ng-click="reservationTab('pe_2','1')" class="sbBtn">点击咨询</a>
					</div>
					
				</div>
				<div class="sunpan1">
					<a href="javascript:void();">
						<img src="module/views/comprehensivePage/img/luodi/xinhe.jpg" alt="信合全球" title="信合全球"/>
					</a>
					<div class="sunpan1r">
						<p class="sunpan1-title" title="信合全球">
							<a href="javascript:void();">
								信合全球
							</a>
						</p>
						<p class="director"><span>基金经理：</span>倚天阁</p>
						<div class="data">
							<span class="dataSpan1">最新净值：<span>2.5128</span></span>
							<span class="dataSpan2">累计收益：<span>151.28%</span></span>
						</div>
						<p class="description">连续5年正收益，稳健堪比信托，市场青睐美元保值</p>
						<a ng-click="reservationTab('sun_1','2')" class="sbBtn">点击咨询</a>
					</div>
					
				</div>
				<div class="clearFloat"></div>
			</div>
			
			
			<div class="product-box">
				
				<div class="product">
					<h4 title="product"><img src="module/views/comprehensivePage/img/luodi/red.jpg" />多品类优质产品，满足您不同的投资需求</h4>
				</div>
				<div class="product-section1">
					<div class="sunSimu">
						<div class="setHead">阳光私募</div>
						<div class="setBottom">
							资产集结号<br>
							投资精英带<br>
							您玩转“金融街”
						</div>
					</div>
					<!--<div class="product-section1-box" ng-repeat="item in homeSunPros">
						<div class="product-section1-list1">
							<h4><a ng-click="goSunProDetails(item)">{{item.fundShortName}}</a></h4>
							<p>基金经理：<span>{{(item.fundManagerName==null?"--":item.fundManagerName)}}</span></p>
						</div>
						<div class="product-section1-list2">
							<div class="buy-time"><span>预计购买时间：</span>蓄势待发</p>
							<p>该基金方股东为各行业佼佼者，业绩坚挺，投资的公司为独角兽。专注新型传媒产业建设，行业潜力无穷。</p>
							<a class="zixun" ng-click="reservationTab(item,'2')">点击咨询</a>
						</div>
					</div>-->
					<div class="product-section1-box">
						<div class="product-section1-list1">
							<h4><a title="凯丰对冲三号" >凯丰对冲三号 </a></h4>
							<p>基金经理：<span>吴星</span></p>
						</div>
						<div class="product-section1-list2">
							<div class="buy-time"><span>累计收益：</span>80.80%</div>
							<p>宏观对冲基金传奇，三年14倍收益</p>
							<a class="zixun" ng-click="reservationTab('sun1','2')">点击咨询</a>
						</div>
					</div>
					<div class="product-section1-box">
						<div class="product-section1-list1">
							<h4><a title="信合全球" >信合全球</a></h4>
							<p>基金经理：<span>黄如洪</span></p>
						</div>
						<div class="product-section1-list2">
							<div class="buy-time"><span>累计收益：</span>151.28%</div>
							<p>连续5年正收益，稳健堪比信托，市场青睐美元保值</p>
							<a class="zixun" ng-click="reservationTab('sun2','2')">点击咨询</a>
						</div>
					</div>
					<div class="product-section1-box borderR-0">
						<div class="product-section1-list1">
							<h4><a title="蓝海一号" >蓝海一号</a></h4>
							<p>基金经理：<span>苏思通</span></p>
						</div>
						<div class="product-section1-list2">
							<div class="buy-time"><span>累计收益：</span>176.74%</div>
							<p>2016上半年勇夺股票私募冠军，四个月增长123.7%</p>
							<a class="zixun" ng-click="reservationTab('sun3','2')">点击咨询</a>
						</div>
					</div>	
					<div class="clearFloat"></div>
				</div>
				<div class="product-section2">
					<div class="simuguquan">
						<div class="setHead">私募股权</div>
						<div class="setBottom">
							抓住上市前的<br>
							最后机会
						</div>
					</div>
					<!--<div class="product-section1-box"  ng-repeat="item in homePrivatePros">
						<div class="product-section1-list1">
							<h4><a ng-click="goPrivateProDetails(item)">{{item.fund_short_name}}</a></h4>
							<p>基金经理：<span>深圳前海天玑财富管理有限公司</span></p>
						</div>
						<div class="product-section1-list2">
							<div class="buy-time"><span>预计购买时间：</span>蓄势待发</p>
							<p>{{item.product_review==null?"--":item.product_review}}</p>
							<a class="zixun" ng-click="reservationTab(item,'1')">点击咨询</a>
						</div>
					</div>-->
					<div class="product-section1-box" >
						<div class="product-section1-list1">
							<h4><a title="天玑财富中汇支付股权投资基金">天玑财富中汇支付股权投资基金</a></h4>
						</div>
						<div class="product-section1-list2">
							<div class="buy-time">
								<div><span>存续期限：</span>1+1年</div>
								<div><span>投资方向：</span>第三方支付</div>
							</div>
							<p>高增长朝阳产业，行业第一梯队，估值潜力巨大</p>
							<a class="zixun" ng-click="reservationTab('private1','1')">点击咨询</a>
						</div>
					</div>
					<div class="product-section1-box">
						<div class="product-section1-list1">
							<h4><a title="万达影视股权投资基金">万达影视股权投资基金</a></h4>
							<!--<p>存续期限：<span>1+1</span></p>-->
						</div>
						<div class="product-section1-list2">
							<div class="buy-time">
								<div><span>存续期限：</span>3+2+2年</div>
								<div><span>投资方向：</span>文化娱乐</div>
							</div>
							<p>中国民营影视公司第一，全球收入最大的电影企业，未来5年总收入及净利润年复合增长率达20%</p>
							<a class="zixun" ng-click="reservationTab('private2','1')">点击咨询</a>
						</div>
					</div>
					<div class="product-section1-box borderR-0">
						<div class="product-section1-list1">
							<h4><a title="秒拍娱乐股权投资基金">秒拍娱乐股权投资基金</a></h4>
							<!--<p>存续期限：<span>6个月</span></p>-->
						</div>
						<div class="product-section1-list2">
							<div class="buy-time">
								<div><span>存续期限：</span>3+2+2年</div>
								<div><span>投资方向：</span>文化娱乐</div>
							</div>
							<p>行业巨头独角兽，母公司获D轮融资，估值超过10亿美元</p>
							<a class="zixun" ng-click="reservationTab('private3','1')">点击咨询</a>
						</div>
					</div>	
					<div class="clearFloat"></div>
				</div>
				<div class="product-section3">
					<div class="zixintuoguan">
						<div class="setHead">信托资管</div>
						<div class="setBottom">
							可靠稳健的理<br>
							财路径，专款<br>
							专用
						</div>
					</div>
					<!--<div class="product-section3-box" ng-repeat="item in homeTrustPros">
						<div class="product-section3-list1">
							<h4><a ng-click="goTrustProDetails(item)">{{item.trust_short_name}}</a></h4>
						</div>
						<div class="product-section3-list2">
							<div class="buy-time"><span>预期收益：</span>{{item.expect_annual_yield_start*100+"%-"+item.expect_annual_yield_end*100+"%"}}</p>
							<p class="product-section3-list2-des">该基金方股东为各行业佼佼者，业绩坚挺，投资的公司为独角兽。专注新型传媒产业建设，行业潜力无穷。</p>
							<div class="touzi">
								<p><span>投资门槛：</span>{{item.min_investmen==null?"--":item.min_investmen}}</p>
								<p><span>投资年限：</span>{{item.term_of_investment==null?"--":item.term_of_investment}}</p>
							</div>
							<a class="zixun" ng-click="reservationTab(item,'3')">点击咨询</a>
						</div>
					</div>-->
					<div class="product-section3-box">
						<div class="product-section3-list1">
							<h4><a title="中江—金马414号">中江—金马414号</a></h4>
						</div>
						<div class="product-section3-list2">
							<div class="buy-time"><span>预期收益：</span>7.8%</div>
							<p class="product-section3-list2-des"> 国有独资，发债主体，AA评级，总资产275.94亿</p>
							<div class="touzi">
								<p><span>投资门槛：</span>300万</p>
								<p><span>投资年限：</span>36个月</p>
							</div>
							<a class="zixun" ng-click="reservationTab('trust1','3')">点击咨询</a>
						</div>
					</div>
					<div class="product-section3-box">
						<div class="product-section3-list1">
							<h4><a title="中融-鑫瑞1号">中融-鑫瑞1号</a></h4>
						</div>
						<div class="product-section3-list2">
							<div class="buy-time"><span>预期收益：</span>6.9-7.2%</div>
							<p class="product-section3-list2-des">结构化设计，期限灵活，收益较高，成立时间固定</p>
							<div class="touzi">
								<p><span>投资门槛：</span>300万</p>
								<p><span>投资年限：</span>9个月</p>
							</div>
							<a class="zixun" ng-click="reservationTab('trust2','3')">点击咨询</a>
						</div>
					</div>
					<div class="product-section3-box borderR-0">
						<div class="product-section3-list1">
							<h4><a title="中江-金马420号">中江-金马420号</a></h4>
						</div>
						<div class="product-section3-list2">
							<div class="buy-time"><span>预期年收益：</span>7.5-7.6%</div>
							<p class="product-section3-list2-des">国有独资，土地抵押，资金用途明确，起投金额低</p>
							<div class="touzi">
								<p><span>投资门槛：</span>100万</p>
								<p><span>投资年限：</span>24个月</p>
							</div>	
							<a class="zixun" ng-click="reservationTab('trust3','3')">点击咨询</a>
						</div>
					</div>	
					<div class="clearFloat"></div>
				</div>	
			</div>
			<div class="product-buy">
				<div class="product">
					<h4 title="product"><img src="module/views/comprehensivePage/img/luodi/blue.jpg" />产品购买流程</h4>
				</div>
				<img src="module/views/comprehensivePage/img/luodi/buy-prosess.jpg"/>
				<div class="product-buy-section1">
					<div class="product-buy-section1-div1">
						<p>信息不对等，投资项目繁多</p>
						<p class="product-buy-section1-div1-p"><a href="#">免费、便捷私募选购贴士</a></p>
					</div>
					<div class="product-buy-section1-div1">
						<p>风险收益难预测，无从下手</p>
						<p class="product-buy-section1-div1-p"><a href="#">专业私募研究团队协助避险获利</a></p>
					</div>
					<div class="product-buy-section1-div3">
						<p>资产管理事务烦琐，消耗精力</p>
						<p class="product-buy-section1-div1-p"><a href="#">专属私募团队持续跟踪管理</a></p>
					</div>
				</div>
					
			</div>
			<div class="relevance">
				<h5>关联专题</h5>
				<a class="relevance-a" title="天玑财富创梦天地私募股权" href="#/pe/zt-2" ui-sref="specialSubject.chuangmengtiandi"><img src="img/sun/hosts-CMTD.jpg" alt="天玑财富创梦天地私募股权"/></a>
				<a class="relevance-a" title="天玑财富创梦天地私募股权" href="#/pe/zt-2" ui-sref="specialSubject.chuangmengtiandi"><img src="img/sun/hosts-CMTD2.jpg" alt="天玑财富创梦天地私募股权"/></a>
				<a class="relevance-a" title="天玑财富军工新材料私募股权" href="#/trust/zt-1" ui-sref="specialSubject.jungong"><img src="img/sun/hosts-JG.jpg" alt="天玑财富军工新材料私募股权"/></a>
				<a class="mr0px" title="天玑财富中汇支付Pre-IPO私募股权" href="#/pe/zt-1" ui-sref="specialSubject.zhonghuizhifu"><img src="img/sun/hosts-ZHZF.jpg" alt="天玑财富中汇支付Pre-IPO私募股权"/></a>
<!--			
				<a href="#" class="relevance-a"><img src="module/views/comprehensivePage/img/luodi/perfect.jpg"/></a>
				<a href="#" class="relevance-a"><img src="module/views/comprehensivePage/img/luodi/treasure.jpg"/></a>
				<a href="#" class="relevance-a"><img src="module/views/comprehensivePage/img/luodi/hero.jpg"/></a>
				<a href="#"><img src="module/views/comprehensivePage/img/luodi/dujiaoshou.jpg"/></a>-->
				<div class="clearFloat"></div>
			</div>	
		</div>