<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>天玑财富中汇支付股权投资2号-私募股权-天玑金服</title>
		<meta name="Keywords" content="中汇支付     天玑财富   私募股权   股权投资   尹宏伟"/>
		<meta name="Description" content="支付牌照稀缺，投资中汇支付母公司老股，市场上目前最好的私募股权投资产品。"/>
		<link rel="stylesheet" type="text/css" href="module/views/specialSubject/zhonghuizhifu/css/default.css"/>
	</head>
	<body>
		<script type="text/javascript">
			$(document).ready(function(){
				$("body").scrollTop(0);
			});
		</script>
		<div class="body" style="height:508px;background-image: url(module/views/specialSubject/zhonghuizhifu/img/zhonghuizhifu_01.jpg);"></div>	
		<div class="body" style="height:686px;background-image: url(module/views/specialSubject/zhonghuizhifu/img/zhonghuizhifu_02.jpg);"></div>	
		<div class="body" style="height:552px;background-image: url(module/views/specialSubject/zhonghuizhifu/img/zhonghuizhifu_03.jpg);"></div>	
		<div class="body" style="height:600px;background-image: url(module/views/specialSubject/zhonghuizhifu/img/zhonghuizhifu_04.jpg);"></div>	
		<div class="body" style="height:709px;background-image: url(module/views/specialSubject/zhonghuizhifu/img/zhonghuizhifu_05.jpg);"></div>	
		<div class="body" style="height:632px;background-image: url(module/views/specialSubject/zhonghuizhifu/img/zhonghuizhifu_06.jpg);"></div>	
		<div class="body" style="height:702px;background-image: url(module/views/specialSubject/zhonghuizhifu/img/zhonghuizhifu_07.jpg);"></div>	
		<div class="body" style="height:690px;background-image: url(module/views/specialSubject/zhonghuizhifu/img/zhonghuizhifu_08.jpg);"></div>	
			<!--<img src="" class="bodyImg"/>-->
		</div>	
		<div class="body" style="height:126px;background-image: url(module/views/specialSubject/jungong/img/jungong/jungong2.png);"></div>
		<!--<div class="bottom">
			 <img src="module/views/specialSubject/jungong/img/jungong/jungong2.png" class="bottomImg"/>
		</div>-->
	</body>
</html>
